@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-blue: #155F8E;
  --color-brand-red: #8B172D;
  --color-brand-grey: #E3E7E9;
  --color-bg-light: #F8FAFC;
  --color-dark: #1C1C1C;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}
